# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
.env

# Ignore IDE settings
.vscode/
.idea/


# Ignore local system files
.DS_Store
Thumbs.db

migrate_recommendation_logs.py